<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS Game</title>
    <link rel='stylesheet' href="/style.css"
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/welcome'>welcome</a></li>
      </ul>
    </nav>
      <h1>RPS Game</h1>
      <%= yield %>
    </body>
    </html>
